NEXT_PUBLIC_SANITY_PROJECT_ID=kf6o4e7j
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-07-04

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=kryonix-rc.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=kryonix-rc
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=kryonix-rc.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=965586289214
NEXT_PUBLIC_FIREBASE_APP_ID=
